.img-prod {
    width: 100%;
    max-width: 150px;
    max-height: 150px;
}
.w-commerce-header-wish {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    color: #fff;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.margin-qty {
    margin-left: 25%;
    margin-top: 10%;
}

.w-commerce-header-wish-count{
    display: inline-block;
    height: 18px;
    min-width: 18px;
    margin-left: 8px;
    padding-right: 6px;
    padding-left: 6px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color: #fff;
    color: #3898ec;
    font-size: 11px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
}

.button-full {
    padding: 12px 28px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 24px;
    background-color: #a5c926;
    -webkit-transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
    transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
    transition: transform 300ms ease, box-shadow 300ms ease;
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
    color: #fff;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
}

.button-white {
    padding: 12px 28px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 24px solid;
    background-color: #fff;
    -webkit-transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
    transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
    transition: transform 300ms ease, box-shadow 300ms ease;
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
    margin-left: 5%;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
}

.w-full {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    padding: 9px 15px;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #a5c926
}

.w-full-white {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    padding: 9px 15px;
    color: #a5c926;
    border: 2px solid #a5c926;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px
}

.w-half {
    display: inline-block;
    width: 70%;
    font-size: 20px;
    padding: 9px 15px;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #a5c926
}

.w-half-white {
    display: inline-block;
    width: 70%;
    font-size: 20px;
    padding: 9px 15px;
    color: #a5c926;
    border: 2px solid #a5c926;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px
}

.modal-keluar {
    display: block;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    background-color: rgba(0,0,0,0.83); 
}

.modal-show {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0,0,0,0.83); 
    overflow-x: hidden;
    overflow-y: auto;
}

.close-modal {
    display: inline;
    cursor: pointer;
    margin-left: 98%;
    font-size: 1.5rem;
}
.hero-modal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 15%;
    max-width: 700px;
    padding: 56px 48px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 16px;
    color: #111;
    text-align: center;
}

.w-commerce-commercecartcontainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.25);
}

.modal-signin {
    font-size: 15px;
}

.modal-signin-green {
    color: #a5c926;
    display: inline;
    cursor: pointer;
}

.user-profile-header {
    position: relative;
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
    align-items: center !important;
    display: flex !important;
}

.header-title {
    color: #fff;
    font-size: 17px;
    font-weight: 100;
}

.count-produk {
    font-size: 15px;
    color:#6c757d;
    margin-top: 3%;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.bg-gradient-default {
    background: linear-gradient(87deg, #a5c926 0, #b4daab 100%) !important;
}

.box-profile {
    padding-left: 39px !important;
    padding-right: 39px !important;
    margin-top: -6rem !important;
}

.card-profile-image {
    position: relative;
}

.card-profile-image img {
    max-width: 180px;
    -webkit-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
    position: absolute;
    left: 50%;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.shadow, .card-profile-image img {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.edit-user-profile {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.user-profile-box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
}

.desc-profile {
    padding-top: 5rem !important;
}

.card-profile-stats {
    padding: 1rem 0;
}

.card-profile-stats > div {
    text-align: center;
    margin-right: 1rem;
    padding: .875rem;
}

.card-profile-stats > div .heading {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
}

.heading {
    letter-spacing: 0.025em;
    font-size: 0.95rem;
    text-transform: uppercase;
    font-weight: 600;
}

.card-profile-stats > div .description {
    font-size: .875rem;
    color: #adb5bd;
}

.bg-secondary {
    background-color: #f3fdf7 !important
}

.shadow, .card-profile-image img {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}

.navbar-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.user-menu {
    margin-left: 10%;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar > .container, .navbar > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.avatar-sm {
    width: 36px;
    height: 36px;
    font-size: 0.875rem;
}

.avatar {
    color: #fff;
    background-color: #adb5bd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.w-dyn-sorting {
    display: flex;
    margin-top: 4%;
}

.margin-button-detail-menu {
    display: inline-flex;
}

.margin-button-keranjang {
    display: inline-flex;
    width: 40%;
    margin-top: 3%;
}

.margin-home-box {
    margin-top: 2%;
    width: 100%;
}

.img-product-list {
    width: 183px;
    height: 130px;
}

.margin-cari {
    display: flex;
    margin-bottom: 2%;
    width: 100%;
}

.input-cari {
    height: 48px;
    text-align: left;
    padding-right: 28px;
    padding-left: 28px;
    border: 2px solid #e5e5e5;
    border-radius: 12px;
    color: black;
    background-color: #ffffff;
    transition: border-color 300ms ease, background-color 300ms ease;
}

.section-produk {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 78px 1px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
}

.subscribe-cari {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 5px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #e5ece3;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.20)
}

.title-user {
    color: #111;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}

.title-user:hover {
    opacity: 70%;
    color: #111;
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}

.home-category-card:hover {
    box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    -webkit-transform: scale(1.05) translate(0px, -2px);
    -ms-transform: scale(1.05) translate(0px, -2px);
    transform: scale(1.05) translate(0px, -2px);
    -webkit-transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
    transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
    transition: transform 300ms ease, box-shadow 300ms ease;
    transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
}

.collapse-header {
    background-color: #fff;
    width: 100%;
}

.value-header-collapse {
    display: grid;
    height: 150px;
}

.isi-header-collapse {
    border-bottom: solid 1px #efeaea;
    text-align: center;
    margin-top: 15px;
    color: black;
    font-style: bold;
}

.edit-data-profile {
    display: none;
}

.section-profile {
    margin-bottom: 5%;
}
.title-date {
    color: #000000;
    text-align: center;
    margin-left: 10px;
}
.title-qty {
    color: #000000;
    margin-left: 30px;
    font-size: 15px;
    margin-bottom: 10px;
}
.title-hapus {
    color: red;
    cursor: pointer;
    margin-left: 20px;
    font-size: 15px;
    margin-bottom: 10px;
}
.title-hapus:hover {
    color: red;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 20px;
    font-size: 15px;
    margin-bottom: 10px;
}

.wrong-login {
    color: red;
    padding-bottom: 1rem;
}

#posisi-loader {
    background-color: rgba(0,0,0,0.83);
	position: fixed; /* Stay in place */
	z-index: 1054; /* Sit on top */
    padding-top: 20%; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.title-loader {
    color: #fff;
    text-align: center;
}

.lds-dual-ring {
    display: inline-block;
    padding-left: 47%;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

@media (max-width: 991px) {
    .section-produk {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 68px 1px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #ffffff;
    }
    
    .img-prod {
        width: 100%;
        max-width: 120px;
        height: 70px;
    }
    .input-tanggal {
        height: 35px;
        width: 115px;
        font-size: 10px;
        border: 2px solid #e5e5e5;
        border-radius: 12px;
        background-color: #ffffff;
        margin-top: 10px;
    }
    
    .input-qty {
        height: 30px;
        width: 35px;
        font-size: 10px;
        border: 2px solid #e5e5e5;
        border-radius: 6px;
        background-color: #ffffff;
        margin-top: 10px;
    }
    
    .subscribe-form-date {
        justify-content: center;
        align-items: center;
        display: inline-flex;
    }

    .cart-list {
        padding: 1px 1px;
    }

    .cart-footer {
        padding-right: 1px;
        padding-bottom: 20px;
        padding-left: 1px;
        font-size: 18px;
    }

    .title-date {
        color: #000000;
        text-align: center;
        font-size: 12px;
        margin-top: 20px;
    }

    .title-qty {
        color: #000000;
        margin-left: 30px;
        font-size: 15px;
        margin-bottom: 1px;
    }

    .w-full {
        display: inline-block;
        width: 100%;
        font-size: 13px;
        padding: 9px 15px;
        color: white;
        border: 0;
        line-height: inherit;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px;
        border: 2px solid #a5c926
    }

    .w-full-white {
        display: inline-block;
        width: 100%;
        font-size: 13px;
        padding: 9px 15px;
        color: #a5c926;
        border: 2px solid #a5c926;
        line-height: inherit;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px
    }

    .w-commerce-keranjang {
        display: grid;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .margin-button-keranjang {
        display: inline-flex;
        width: 100%;
        margin-top: 3%;
    }

    .harga-keranjang {
        font-size: 20px;
        color: #a5c926;
        text-align: center;
    }

    .dropdown-toggle {
        margin-right: 5px;
    }

    .margin-cari  {
        margin-bottom: 8%;
        width: 100%;
    }    

    .title-user {
        color: #111;
        font-size: 15px;
        font-weight: 600;
        margin-left: 10px;
        display: none;
    }
    .title-user:hover {
        opacity: 70%;
        color: #111;
        font-size: 15px;
        font-weight: 600;
        margin-left: 10px;
    }

    .arrow_box {
        position: absolute;
        will-change: transform;
        top: 0px;
        left: 0px;
        transform: translate3d(-71px, 53px, 0px);
    }

    .edit-user-profile {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
        position: relative;
        display: none;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .user-profile-box {
        position: relative;
        width: 100%;
        margin-top: 10%;
        flex-basis: 0;
        flex-grow: 1;
    }

    .edit-data-profile {
        display: contents;
    }

    .keranjang-img {
        width: 50%;
        margin-left: 20%;
    }
    
}

