
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 20px;
  height: 25px;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
} 
.star-ratings-css::before { 
  content: '★★★★★';
  opacity: .8;
}

[title="0"]::after {
  width: 0%;
}
[title="1"]::after {
  width: 20%;
}
[title="2"]::after {
  width: 40%;
}
[title="3"]::after {
  width: 60%;
}
[title="4"]::after {
  width: 80%;
}
[title="5"]::after {
  width: 100%;
}
.star-ratings-css::after {
  color: gold;
  content: '★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  overflow: hidden;
}


@media (max-width: 991px) { 

.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 15px;
    height: 35px;
    position: relative;
    text-shadow: 0 1px 0 #a2a2a2;
  } 
  .star-ratings-css::before { 
    content: '★★★★★';
    opacity: .8;
  }

  .star-ratings-css::after {
    color: gold;
    content: '★★★★';
    text-shadow: 0 1px 0 #ab5414;
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
    top:0;
    overflow: hidden;
  }
}
  
  
  
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
  body { margin: 50px; text-align: center; font-family: 'Open Sans', sans-serif; background: #f2fbff; font-size: .6em;}
  